<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">
	<configuration>
		<custom-converters>
			<converter type="ru.lic.bank.core.ws.mapper.FullNameToString">
				<class-a>ru.lic.bank.core.domain.FullName</class-a>
				<class-b>java.lang.String</class-b>
			</converter>
		</custom-converters>
	</configuration>

	<mapping>
		<class-a>ru.lic.bank.core.transfers.Transfer</class-a>
		<class-b>ru.lab_ic.nciba.eapi.types.Transfer</class-b>
		<field>
			<a>statusId</a>
			<b>transferStatus</b>
		</field>
		<field>
			<a>creditFullName</a>
			<b>creditPersonFIO</b>
		</field>
		<field>
			<a>creditExternalSystem</a>
			<b>creditExternalSystemId</b>
		</field>
		<field>
			<a>debitExternalSystem</a>
			<b>debitExternalSystemId</b>
		</field>
		<field>
			<a>directionId</a>
			<b>transferDirectionId</b>
		</field>
		<field>
			<a>recipientId</a>
			<b>transferRecipientId</b>
		</field>
		<field>
			<a>creditCurrencyRef.code</a>
			<b>creditCurrency</b>
		</field>
		<field>
			<a>debitCurrencyRef.code</a>
			<b>debitCurrency</b>
		</field>
		<field>
			<a>customer.profile.fullName</a>
			<b>debitPersonFIO</b>
		</field>
		<field>
			<a>currencyCourse</a>
			<b>course</b>
		</field>
		<field>
			<a>id</a>
			<b>transferId</b>
		</field>
		<field>
			<a>tax.taxType</a>
			<b>taxType</b>
		</field>
		<field>
			<a>tax.period</a>
			<b>period</b>
		</field>
		<field>
			<a>tax.taxDocumentDate</a>
			<b>taxDocumentDate</b>
		</field>
		<field>
			<a>tax.taxDocumentNumber</a>
			<b>taxDocumentNumber</b>
		</field>
		<field>
			<a>tax.reason</a>
			<b>reason</b>
		</field>
		<field>
			<a>tax.okato</a>
			<b>okato</b>
		</field>
		<field>
			<a>tax.kbk</a>
			<b>kbk</b>
		</field>
		<field>
			<a>creditKpp</a>
			<b>kpp</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.AbsGetAccountListResponse$Accounts
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetAccountListResponse$Accounts
		</class-b>
		<field>
			<a is-accessible="true">account</a>
			<b is-accessible="true">account</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.AbsGetAccountStatementResponse$Operations
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetAccountStatementResponse$AccountOperations
		</class-b>
		<field>
			<a is-accessible="true">operation</a>
			<b is-accessible="true">operation</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.AbsGetDepositListResponse$Deposits
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetDepositListResponse$Deposits
		</class-b>
		<field>
			<a is-accessible="true">deposit</a>
			<b is-accessible="true">deposit</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.AbsGetDepositStatementResponse$Operations
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetDepositStatementResponse$DepositOperations
		</class-b>
		<field>
			<a is-accessible="true">operation</a>
			<b is-accessible="true">operation</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.AbsGetCreditListResponse$Credits
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetCreditListResponse$Credits</class-b>
		<field>
			<a is-accessible="true">credit</a>
			<b is-accessible="true">credit</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_lic.nciba.way4gate.PgGetCardStatementResponse$Operations
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetCardStatementResponse$CardOperations
		</class-b>
		<field>
			<a is-accessible="true">operation</a>
			<b is-accessible="true">operation</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_lic.nciba.way4gate.PgGetCardListResponse$Cards
		</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetCardListResponse$Cards</class-b>
		<field>
			<a is-accessible="true">card</a>
			<b is-accessible="true">card</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lab_ic.nciba.bapi.types.CardListItem</class-a>
		<class-b>ru.lic.bank.core.common.session.BriefCardInfo</class-b>
		<field>
			<a>rbs</a>
			<b>rbs</b>
		</field>
		<field>
			<a>accountNumber</a>
			<b>account</b>
		</field>
		<field>
			<a>cardNumber</a>
			<b>number</b>
		</field>
		<field>
			<a>cardId</a>
			<b>id</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.bapi.types.AccountItem</class-a>
		<class-b>ru.lic.bank.core.common.session.BriefAccountInfo</class-b>
		<field>
			<a>accountNumber</a>
			<b>number</b>
		</field>
		<field>
			<a>accountId</a>
			<b>id</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lic.bank.core.payments.Payment</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.PaymentItem</class-b>
		<field>
			<a>createdDt</a>
			<b>paymentDt</b>
		</field>
		<field>
			<a>id</a>
			<b>paymentId</b>
		</field>
		<field>
			<a>currencyRef.code</a>
			<b>currencyCode</b>
		</field>
		<field>
			<a>externalSystem.code</a>
			<b>externalSystem</b>
		</field>
		<field>
			<a>transferStatus.id</a>
			<b>statusId</b>
		</field>
		<field>
			<a>accountNumberFrom</a>
			<b>accountFrom</b>
		</field>
		<field>
			<a>recipient.title</a>
			<b>recipientTitle</b>
		</field>
	</mapping>
	<mapping map-id="debitEntity">
		<class-a>ru.lic.bank.core.transfers.TransferEntity</class-a>
		<class-b>ru.lab_ic.nciba.bpms.types.TransferRequest</class-b>
		<field>
			<a>cardNumber</a>
			<b>debitCardNumber</b>
		</field>
		<field>
			<a>rbs</a>
			<b>debitCardRBS</b>
		</field>
		<field>
			<a>accountNumber</a>
			<b>debitAccountNumber</b>
		</field>
		<field>
			<a>accountId</a>
			<b>debitAccountId</b>
		</field>
	</mapping>
	<mapping map-id="creditEntity">
		<class-a>ru.lic.bank.core.transfers.TransferEntity</class-a>
		<class-b>ru.lab_ic.nciba.bpms.types.TransferRequest</class-b>
		<field>
			<a>cardNumber</a>
			<b>creditCardNumber</b>
		</field>
		<field>
			<a>rbs</a>
			<b>creditCardRBS</b>
		</field>
		<field>
			<a>accountNumber</a>
			<b>creditAccountNumber</b>
		</field>
		<field>
			<a>accountId</a>
			<b>creditAccountId</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lab_ic.nciba.bapi.types.DepositListItem</class-a>
		<class-b>ru.lic.bank.core.common.session.BriefAccountInfo</class-b>
		<field>
			<a>accountId</a>
			<b>id</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lab_ic.nciba.bapi.types.TransferRequest</class-a>
		<class-b>ru.lab_ic.nciba.bpms.types.TransferRequest</class-b>
		<field>
			<a>recipientSystemId</a>
			<b>creditExternalSystemId</b>
		</field>
		<field>
			<a>senderSystemId</a>
			<b>debitExternalSystemId</b>
		</field>
		<field>
			<a>recipientFullName</a>
			<b>creditPersonFIO</b>
		</field>
		<field>
			<a>purpose</a>
			<b>purporse</b>
		</field>
		<field>
			<a>currencyCode</a>
			<b>debitCurrency</b>
		</field>
		<field>
			<a>amount</a>
			<b>debitAmount</b>
		</field>
		<field>
			<a>bik</a>
			<b>creditBik</b>
		</field>
		<field>
			<a>inn</a>
			<b>creditInn</b>
		</field>
		<field>
			<a>kpp</a>
			<b>creditKpp</b>
		</field>
        <field>
			<a get-method="isWithNds">withNds</a>
			<b get-method="isWithNds">withNds</b>
		</field>

	</mapping>
	<mapping>
		<class-a>ru.lab_ic.nciba.bapi.types.SelfTransferRequestType</class-a>
		<class-b>ru.lab_ic.nciba.bpms.types.TransferRequest</class-b>
		<field>
			<a>recipientSystemId</a>
			<b>creditExternalSystemId</b>
		</field>
		<field>
			<a>senderSystemId</a>
			<b>debitExternalSystemId</b>
		</field>
		<field>
			<a>currencyCode</a>
			<b>debitCurrency</b>
		</field>
		<field>
			<a>amount</a>
			<b>debitAmount</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lic.bank.core.transfers.Transfer</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.TransferItem</class-b>
		<field>
			<a>debitAccountNumber</a>
			<b>sender</b>
		</field>
		<field>
			<a>creditAccountNumber</a>
			<b>receiver</b>
		</field>
		<field>
			<a>debitExternalSystem</a>
			<b>senderSystemId</b>
		</field>
		<field>
			<a>creditExternalSystem</a>
			<b>receiverSystemId</b>
		</field>
		<field>
			<a>debitAmount</a>
			<b>amount</b>
		</field>
		<field>
			<a>debitCurrencyRef.code</a>
			<b>currencyCode</b>
		</field>
		<field>
			<a>creditCurrencyRef.code</a>
			<b>creditCurrency</b>
		</field>
		<field>
			<a>creditFullName</a>
			<b>receiverFIO</b>
		</field>
		<field>
			<a>statusId</a>
			<b>transferStatusId</b>
		</field>
		<field>
			<a>recipientId</a>
			<b>transferTypeId</b>
		</field>
		<field>
			<a>id</a>
			<b>transferId</b>
		</field>
		<field>
			<a>purporse</a>
			<b>purpose</b>
		</field>
		<field>
			<a>documentId</a>
			<b>transferNumber</b>
		</field>
		<field>
			<a>currencyCourse</a>
			<b>course</b>
		</field>
		<field>
			<a>tax.taxType</a>
			<b>taxType</b>
		</field>
		<field>
			<a>tax.period</a>
			<b>period</b>
		</field>
		<field>
			<a>tax.taxDocumentDate</a>
			<b>taxDocumentDate</b>
		</field>
		<field>
			<a>tax.taxDocumentNumber</a>
			<b>taxDocumentNumber</b>
		</field>
		<field>
			<a>tax.reason</a>
			<b>reason</b>
		</field>
		<field>
			<a>tax.okato</a>
			<b>okato</b>
		</field>
		<field>
			<a>tax.kbk</a>
			<b>kbk</b>
		</field>
		<field>
			<a>creditKpp</a>
			<b>kpp</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lic.bank.core.transfers.Direction</class-a>
		<class-b>ru.lab_ic.nciba.bpms.types.TransferRequest</class-b>
		<field>
			<a>id</a>
			<b>transferDirectionId</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lic.bank.core.template.PaymentTemplate</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.PaymentTemplate</class-b>
		<field>
			<a>debit.amount</a>
			<b>debitAmount</b>
		</field>

		<field>
			<a>debitCurrencyRef.code</a>
			<b>debitCurrencyCode</b>
		</field>
		<field>
			<a>debitExternalSystem.code</a>
			<b>debitExternalSystemCode</b>
		</field>
		<field>
			<a>cardNumber</a>
			<b>debitCardNumber</b>
		</field>
		<field>
			<a>recipient.id</a>
			<b>recipientId</b>
		</field>
		<field>
			<a>debit.accountNumber</a>
			<b>debitAccountNumber</b>
		</field>
		<field>
			<a>createdDt</a>
			<b>createdDt</b>
		</field>
		<field>
			<a>properties</a>
			<b>properties</b>
		</field>
		<field>
			<a>paymentTemplateId</a>
			<b>templateId</b>
		</field>
		<field>
			<a>title</a>
			<b>title</b>
		</field>
		<field>
			<a>recipient.category.id</a>
			<b>recipientCategoryId</b>
		</field>
		<field>
			<a>recipient.title</a>
			<b>recipientName</b>
		</field>
	</mapping>
	<mapping>
		<class-a>ru.lic.bank.core.template.TransferTemplate</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.TransferTemplate</class-b>
		<field>
			<a>debit.amount</a>
			<b>debitAmount</b>
		</field>
		<field>
			<a>transferDirection.id</a>
			<b>transferDirectionId</b>
		</field>


		<field>
			<a>creditFullName</a>
			<b>recipientFullName</b>
		</field>
		<field>
			<a>debit.amount</a>
			<b>debitAmount</b>
		</field>
		<field>
			<a>credit.amount</a>
			<b>creditAmount</b>
		</field>
		<field>
			<a>creditCurrencyRef.code</a>
			<b>creditCurrencyCode</b>
		</field>
		<field>
			<a>purpose</a>
			<b>purpose</b>
		</field>

		<field>
			<a>debitCardNumber</a>
			<b>debitCardNumber</b>
		</field>
		<field>
			<a>creditExternalSystem.code</a>
			<b>creditExternalSystemCode</b>
		</field>
		<field>
			<a>debitExternalSystem.code</a>
			<b>debitExternalSystemCode</b>
		</field>
		<field>
			<a>debitCurrencyRef.code</a>
			<b>debitCurrencyCode</b>
		</field>
		<field>
			<a>debit.accountNumber</a>
			<b>debitAccountNumber</b>
		</field>
		<field>
			<a>credit.accountNumber</a>
			<b>creditAccountNumber</b>
		</field>
		<field>
			<a>creditCardNumber</a>
			<b>creditCardNumber</b>
		</field>
		<field>
			<a>title</a>
			<b>title</b>
		</field>
		<field>
			<a>createdDt</a>
			<b>createdDt</b>
		</field>
		<field>
			<a>transferRecipient.id</a>
			<b>transferRecipientId</b>
		</field>
		<field>
			<a>transferTemplateId</a>
			<b>templateId</b>
		</field>
	    <field>
            <a>creditKpp</a>
            <b>kpp</b>
        </field>
	    <field>
            <a>withNds</a>
            <b get-method="isWithNds">withNds</b>
        </field>
    </mapping>
	<mapping>
		<class-a>ru.lic.bank.core.payments.Recipient</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.Recipient</class-b>
		<field>
			<a>id</a>
			<b>id</b>
		</field>
		<field>
			<a>title</a>
			<b>title</b>
		</field>
		<field>
			<a>properties</a>
			<b>properties</b>
		</field>
		<field>
			<a>sorting</a>
			<b>sorting</b>
		</field>
		<field>
			<a>restrictions</a>
			<b>restrictions</b>
		</field>
		<field>
			<a>description</a>
			<b>description</b>
		</field>
		<field>
			<a>iconsPath</a>
			<b>iconsPath</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.types.CourseResultItem</class-a>
		<class-b> ru.lab_ic.nciba.bapi.types.CourseItem</class-b>
	</mapping>
	<mapping>
		<class-a>ru.lab_ic.nciba.eapi.types.TransferFilter</class-a>
		<class-b>ru.lic.bank.core.transfers.TransferFilter</class-b>
		<field>
			<a>status</a>
			<b>statusId</b>
		</field>
	</mapping>

	

	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.GetBankRequisiteResponse</class-a>
		<class-b>ru.lab_ic.nciba.bapi.GetBankRequisite</class-b>
	</mapping>

	<mapping>
		<class-a>ru.lic.bank.core.limit.Limit</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.Limits</class-b>
		<field>
			<a>conversionDailyLimit</a>
			<b>conversionAmount</b>
		</field>
		<field>
			<a>dailyLimit</a>
			<b>amount</b>
		</field>
	</mapping>

	<mapping>
		<class-a>ru.lic.bank.core.domain.CustomerStopList</class-a>
		<class-b>ru.lab_ic.nciba.eapi.types.CustomerStopListItem</class-b>
		<field>
			<a>id</a>
			<b>customerStopListId</b>
		</field>
		<field>
			<a>fullName.firstName</a>
			<b>firstName</b>
		</field>
		<field>
			<a>fullName.middleName</a>
			<b>middleName</b>
		</field>
		<field>
			<a>fullName.lastName</a>
			<b>lastName</b>
		</field>
		<field>
			<a>documentType.documentTypeId</a>
			<b>documentTypeId</b>
		</field>
		<field>
			<a>document.series</a>
			<b>documentSeries</b>
		</field>
		<field>
			<a>document.number</a>
			<b>documentNumber</b>
		</field>
		<field>
			<a>document.date</a>
			<b>documentDate</b>
		</field>
	</mapping>

     <mapping wildcard="true">
        <class-a>ru.lic.bank.core.domain.CustomerStopList</class-a>
        <class-b>java.util.HashMap</class-b>
        <field-exclude>
            <a>fullName</a>
            <b>this</b>
        </field-exclude>
        <field-exclude>
            <a>document</a>
            <b>this</b>
        </field-exclude>
        <field-exclude>
            <a>documentType</a>
            <b>this</b>
        </field-exclude>
        <field>
            <a>fullName.firstName</a>
            <b key="Имя">this</b>
        </field>
        <field>
            <a>fullName.middleName</a>
            <b key="Отчество">this</b>
        </field>
        <field>
            <a>fullName.lastName</a>
            <b key="Фамилия">this</b>
        </field>
        <field>
            <a>birthdate</a>
            <b date-format="dd.MM.yyyy" key="Д.р.">this</b>
            <b-hint>java.lang.String</b-hint>
        </field>
        <field>
            <a>documentType.title</a>
            <b key="Документ">this</b>
        </field>
        <field>
            <a>document.series</a>
            <b key="серия">this</b>
        </field>
        <field>
            <a>document.number</a>
            <b key="номер">this</b>
        </field>
        <field>
            <a>document.date</a>
            <b  date-format="dd.MM.yyyy" key="выдан">this</b>
            <b-hint>java.lang.String</b-hint>
        </field>
        <field custom-converter="ru.lic.bank.core.stoplist.CustomerStopListDozerConverter">
            <a>included</a>
            <b key="в стоп-листе">this</b>
        </field>
    </mapping>
	<mapping>
		<class-a>ru.lic.bank.core.payments.Recipient</class-a>
		<class-b>ru.lab_ic.nciba.bapi.types.RecipientFull</class-b>
		<field>
			<a>category.id</a>
			<b>categoryId</b>
		</field>
		<field>
			<a>changed</a>
			<b>changedDt</b>
		</field>
	</mapping>

    <mapping>
        <class-a>ru.lic.bank.core.domain.CustomerStopListLog</class-a>
        <class-b>ru.lab_ic.nciba.eapi.types.CustomerStopListLogItem</class-b>
        <field>
            <a>employee.profile.fullName.fullName</a>
            <b>employeeName</b>
        </field>
    </mapping>
	<mapping>
		<class-a>ru.lab_ic.nciba.absgate.FindKbkResponse</class-a>
		<class-b>ru.lab_ic.nciba.bapi.FindKbkResponse</class-b>
	</mapping>
</mappings>
