# /
/.settings
/target
/.idea
/orika-parent.iml

# /core/
/core/.*
/core/target
/core/orika-core.iml

# /eclipse-tools/
/eclipse-tools/.project
/eclipse-tools/.classpath
/eclipse-tools/.settings
/eclipse-tools/target
