language: java
jdk:
  - oraclejdk7
branches:
  only:
    - master

notifications:
  recipients:
    - elaatifi@gmail.com
    - matt.deboer@gmail.com
  email:
    on_success: always
    on_failure: always
